
    :root{
        --font_size: 10px;
        --a: 1;
        --width:50px;
        --height:20px;
    }
	.btn{
--if_57ea078a-edae-455c-8cc6-ed1b74451927:red ;--else_57ea078a-edae-455c-8cc6-ed1b74451927:green;

	    background-color: var(--else_57ea078a-edae-455c-8cc6-ed1b74451927,var(--if_57ea078a-edae-455c-8cc6-ed1b74451927));
	    width: var(--width);
	    height: 100px;
--if_46174644-4e80-48b1-8276-4e812bbabe97:lightblue ;--else_46174644-4e80-48b1-8276-4e812bbabe97:yellow;

	    color: var(--else_46174644-4e80-48b1-8276-4e812bbabe97,var(--if_46174644-4e80-48b1-8276-4e812bbabe97));
	}
	.card{
		background:green;
--if_1be617a1-7bad-48c5-bbaa-08643a682d9e:var(--width) ;--else_1be617a1-7bad-48c5-bbaa-08643a682d9e:30px;

        width:var(--else_1be617a1-7bad-48c5-bbaa-08643a682d9e,var(--if_1be617a1-7bad-48c5-bbaa-08643a682d9e));
        transition:width 0.5s;
--if_5941ae05-0531-4516-9b67-b8d5652bec71:var(--height) ;--else_5941ae05-0531-4516-9b67-b8d5652bec71:200px;

	    height: var(--else_5941ae05-0531-4516-9b67-b8d5652bec71,var(--if_5941ae05-0531-4516-9b67-b8d5652bec71));
	}
